* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: white;
}

.menu {
    display: none;
}

nav a {
    margin-right: 1rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    grid-auto-rows: minmax(300px, auto);
}

.box-main {
    background-color: blue;
    background-image: url(../img/image-1.jpg);
    background-size: cover;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}

.nested .box:nth-child(1) {
    background-size: cover;
    background-image: url(../img/image-2.webp);
}

.nested .box:nth-child(2) {
    background-size: cover;
    background-image: url(../img/image-3.webp);
}

.nested .box:nth-child(3) {
    background-size: cover;
    background-image: url(../img/image-4.jpg);
}

.nested .box:nth-child(4) {
    background-size: cover;
    background-image: url(../img/image-5.png);
}

h3 {
    text-transform: capitalize;
    margin: 0;
    transform: translate(0, 85px);
}

.box-main h3 {
    transform: translate(0, 230px);
}

#banner {
    margin-bottom: 50px;
}

.cover {
    width: 100%;
    height: 200px;
    background-color: red;
    background-size: cover;
    background-image: url(../img/image-7.jpg);
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 10px;
}

li {
    list-style: none;
    margin: 0 auto;
}

.box-main {
    position: relative;
}

.box-main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .5;
}

.nested .box {
    position: relative;
}

.nested .overlay:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(white, black 40%);
    opacity: .6;
}

.feed .info {
    color: black;
}

.main-content .info-2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.info-2 span {
    font-weight: 700;
    color: red;
}

@media(max-width:950px) {
    .main-banner {
        grid-template-columns: 1fr;
    }
}

@media(max-width:800px) {
    .feed {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        display: none;
    }
    .menu {
        display: block;
        font-size: 30px;
    }
}

@media(max-width:600px) {
    .feed {
        grid-template-columns: repeat(1, 1fr);
    }
    .cover {
        display: none;
    }
    .header-wrapper {
        display: block;
        text-align: center;
    }
    .header-wrapper h1 {
        margin: 0;
    }
    h3 {
        transform: translate(0, 75px);
    }
    li {
        border-bottom: 1px solid black;
    }
}