* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: white;
    padding-left: 10px;
}

.menu {
    display: none;
}

nav a {
    margin-right: 1rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    grid-auto-rows: minmax(300px, auto);
}

.box-main {
    background-color: blue;
    background-image: url(../img/image-1.jpg);
    background-size: cover;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}

.nested .box:nth-child(1) {
    background-size: cover;
    background-image: url(../img/image-2.webp);
}

.nested .box:nth-child(2) {
    background-size: cover;
    background-image: url(../img/image-3.webp);
}

.nested .box:nth-child(3) {
    background-size: cover;
    background-image: url(../img/image-4.jpg);
}

.nested .box:nth-child(4) {
    background-size: cover;
    background-image: url(../img/image-5.png);
}

h3 {
    text-transform: capitalize;
    margin: 0;
    transform: translate(0, 85px);
}

.box-main h3 {
    transform: translate(0, 230px);
}

#banner {
    margin-bottom: 50px;
}

.cover {
    width: 100%;
    height: 200px;
    background-color: red;
    background-size: cover;
    background-image: url(../img/image-7.jpg);
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 10px;
}

li {
    list-style: none;
    margin: 0 auto;
}

.box-main {
    position: relative;
}

.box-main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .35;
}

.nested .box {
    position: relative;
}

.nested .overlay:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(white, black 40%);
    opacity: .6;
}

.feed .info {
    color: black;
}

.feed a:nth-child(1) li .cover {
    background-image: url(../img/image-7.jpg);
}

.feed a:nth-child(2) li .cover {
    background-image: url(../img/image-6.jpg);
}

.feed a:nth-child(3) li .cover {
    background-image: url(../img/image-8.jpg);
}

.feed a:nth-child(4) li .cover {
    background-image: url(../img/image-9.jpg);
}

.feed a:nth-child(5) li .cover {
    background-image: url(../img/image-10.jpg);
}

.feed a:nth-child(6) li .cover {
    background-image: url(../img/image-11.jpg);
}

.main-content .info-2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.info-2 span {
    font-weight: 700;
    color: red;
}

#footer {
    background-color: #838383;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1rem;
    margin: 0;
    max-width: 100%;
}

::placeholder {
    text-transform: uppercase;
}

.wrapper input {
    outline: none;
    border: none;
    border-radius: .5em;
    padding: .5rem;
    width: 250px;
    margin-bottom: 20px;
}

.wrapper .column {
    margin: 0 auto;
}

.wrapper input:focus {
    border: 2px solid orange;
}

.wrapper button {
    color: white;
    width: 100px;
    outline: none;
    border: 2px solid black;
    background-color: #888888;
    border-radius: .5em;
    padding: .4rem;
    cursor: pointer;
    margin: .2rem 0rem .2rem;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.wrapper button:hover {
    color: orange;
    border: 2px solid orange;
}

h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
}

.wrapper p {
    margin: 1rem 0;
    padding: 0;
}

.download button {
    width: 150px;
    height: 60px;
    padding: 0;
}

.download i {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.download span {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 8px;
}

.newsletter {
    background-color: rgb(88, 86, 86);
}

.newsletter .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(88, 86, 86);
    padding: 1rem;
}

.newsletter a {
    text-transform: capitalize;
    display: block;
    color: orange;
}

.join,
.payment {
    margin-top: 30px;
}

.join i {
    font-size: 25px;
    margin: 10px 10px 10px 0px;
    color: white;
    cursor: pointer;
}

.join i:hover,
.payment i:hover {
    color: orange;
}

.payment i {
    font-size: 25px;
    margin: 10px 10px 10px 0px;
    color: white;
    cursor: pointer;
}

.button {
    margin: 0 auto;
    transform: translate(20px);
}


/* media queries */

@media(max-width:950px) {
    .main-banner {
        grid-template-columns: 1fr;
    }
}

@media(max-width:800px) {
    .button {
        transform: translate(-5px);
    }
    .feed {
        grid-template-columns: repeat(2, 1fr);
    }
    input {
        display: block;
    }
    .button {
        margin-top: 20px;
        width: 300px;
    }
    .wrapper {
        grid-template-columns: 1fr 2fr;
    }
    .wrapper .download {
        display: none;
    }
    nav {
        display: none;
    }
    .menu {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
}

@media(max-width:600px) {
    h3 {
        font-size: 15px;
    }
    .feed {
        grid-template-columns: repeat(1, 1fr);
    }
    .cover {
        display: none;
    }
    .header-wrapper {
        display: block;
        text-align: center;
    }
    .header-wrapper h1 {
        margin: 0;
    }
    li {
        border-bottom: 1px solid black;
    }
    .wrapper {
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
    }
    .wrapper input {
        margin: 0 auto;
    }
    .newsletter .container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .newsletter a {
        font-size: 13px;
    }
    button {
        width: 100px;
    }
    .newsletter h4 {
        font-size: 15px;
    }
    .join h4,
    .payment h4 {
        font-size: 13px;
    }
    .join i,
    .payment i {
        font-size: 13px;
    }
    .info {
        font-size: 15px;
    }
}